@import url("https://fonts.googleapis.com/css?family=Ubuntu&display=swap");
@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah&display=swap');


/* CSS Variables */

:root {
  --purple: #e4c5fd;
  --blue: #b6c3fd;
  --white: #eee;
  --lightgray: #efefef;
  --dark: #0c1235;
  --link: #e4c5fd;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

.container {
  overflow: hidden;
  background-color: var(--blue);
  min-width: 275px;
  /* max-width: 1024px; */
  margin: 0 auto;
}
