.content {
  background-color: var(--white);
}

section {
  padding: 2rem 0;
}

section h1 {
  font-size: 2rem;
  padding-bottom: 1rem;
  margin: 2rem 4rem;
  color: var(--dark);
}

section h2 {
  font-size: 1.4rem;
  padding-bottom: 1rem;
  margin: 1rem 4rem;
  color: var(--dark);
}

section p {
  font-size: 1rem;
  padding-bottom: 1rem;
  margin: 1rem 4rem;
}

/* Media queries */
@media screen and (max-width: 800px) {
  section h1 {
    margin: 2rem 1rem;
  }

  section h2 {
    margin: 1rem 1rem;
  }

  section p {
    margin: 1rem 1rem;
  }
}
