h1 {
    max-width: 1024px;
    margin: 0 auto;
    color: var(--dark);
    padding: 2rem 2rem;
}

p {
    max-width: 1024px;
    margin: 0 auto;
    line-height: 1.6rem;
    margin-bottom: 1.4rem;
    padding: 0 2rem;
}