/* Nav Section */
.nav {
  background-color: var(--purple);
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
}

.nav ul {
  display: flex;
  justify-content: flex-end;
}

.nav li {
  text-decoration: none;
  list-style: none;
}

.headerButton {
  text-decoration: none;
  list-style: none;
  padding: 0.6rem 2rem;
  text-align: center;
  margin: 0.6rem 0.6rem;
  background-color: var(--link);
  border: 1px solid var(--dark);
  border-radius: 0.5rem;
  font-size: 1.2rem;
}

.headerButton:hover {
  background-color: var(--blue);
  color: var(--white);
}

.nav a {
  color: var(--dark);
  text-decoration: none;
  font-weight: 500;
}

.nav a:hover {
  color: var(--dark);
  background-color: var(--blue);
}

/* Header Section */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 1rem;
  background-image: linear-gradient(
    165deg,
    var(--purple),
    var(--purple),
    var(--purple),
    var(--blue),
    var(--blue),
    var(--blue)
  );
  min-width: 320px;
}

.title {
  grid-area: title;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 0 6rem 0 6rem;
  color: var(--dark);
  font-size: 8rem;
}

.title-talk {
  font-family: "Gloria Hallelujah";
  color: purple;
  font-weight: 100;
}

.title-fit {
  margin-bottom: 2.5rem;
  font-size: 9rem;
}

.tagline {
  grid-area: tagline;
  padding: 0 6rem 0 6rem;
  color: #5a5959;
  font-size: 1.8rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.association {
  grid-area: tagline;
  padding: 0 6rem 0 6rem;
  color: #5a5959;
  font-size: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 1rem;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0rem;
}

.logo img {
  height: 24rem;
  width: 0 auto;
}

/* Media queries */
@media screen and (max-width: 964px) {
  .header {
    flex-direction: column;
    justify-content: center;
  }

  .logo img {
    height: 40vh;
    width: 0 auto;
  }

  .nav ul {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .headerButton {
    display: block;
    margin: 5px auto;
    height: 40px;
    width: calc(90vw) !important;
  }

  .title {
    padding: 0 2rem;
    justify-self: center;
    margin: 0 auto;
  }

  .title-talk {
    font-family: "Gloria Hallelujah";
    color: purple;
    font-weight: 100;
    font-size: 5rem;
  }

  .title-fit {
    margin-bottom: 1.6rem;
    font-size: 5rem;
  }

  .tagline {
    padding: 0 2rem;
    font-size: 1.2rem;
  }

  .association {
    padding: 0 2rem 0 2rem;
  }
}
