.hero {
  padding: 2rem 0 1rem 0;
  margin: 0rem 2rem;
  /* border: 2px solid darkblue; */
  background-color: var(--blue); /*#0530ec;*/
  /* box-shadow: 0.2rem 0.2rem 2rem #0b2363, -0.2rem -0.2rem 1rem #7a9eff; */
  /* border-radius: 1rem; */
}

.herotext {
  margin: 0 4rem;
  padding: 0 0 1rem 0;
  font-size: 1.4rem;
  color: var(--dak);
  line-height: 2rem;
  border: none;
}

/* Discipline Section */
.disciplines {
  /* margin: 1rem auto; */
  padding: 2rem 0rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.cards {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  max-width: 1024px;
}

.card {
  margin: 0rem 0.7rem 2rem 0.7rem;
  /* border: 0.001rem solid var(--dark); */
  min-width: 250px;
  max-width: 300px;
  align-self: stretch;
  background-color: white;
  box-shadow: 0.2rem 0.2rem 0.5rem var(--lightgray),
    -0.2rem -0.2rem 0.5rem var(--lightgray);
  border-radius: 1rem;
  padding-bottom: 1rem;
}

.discipline {
  background-color: white;
  display: flex;
  flex-direction: column;
}

.discipline .image {
  background-image: url(../../resources/images/head.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 14rem;
  padding: 3rem 2rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.card:nth-of-type(1) .image {
  background-image: url(../../resources/images/compassion.jpg);
}

.card:nth-of-type(2) .image {
  background-image: url(../../resources/images/love2.jpg);
}

.card:nth-of-type(3) .image {
  background-image: url(../../resources/images/love1.jpg);
}

.discipline h1 {
  background-color: #fff;
  color: var(--blue);
  padding: 1.5rem 1.5rem 0.75rem 1.5rem;
  font-size: 2rem;
  line-height: 2.5rem;
  font-weight: 500;
}

.discipline p {
  background-color: #fff;
  color: var(--dark);
  padding: 0 1.5rem 1.5rem 1.5rem;
  line-height: 1.6rem;
}

/* Footer Section */
.footer {
  background-color: var(--blue);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 2rem;
}

.creditsection {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer .logos {
  list-style: none;
  display: flex;
  flex-direction: row;
  background-color: #fff;
  padding: 1rem;
  margin: 1px;
}

.footerlogo img {
  height: 4rem;
  width: 0 auto;
}

.footer .copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  color: var(--dark);
}

.book {
  background-color: white;
  display: flex;
  flex-direction: column;
}

.button {
  background-color: var(--buttonBackground);
  color: var(--buttonText);
  padding: 0.4rem 2rem;
  font-size: 1.8rem;
  border-radius: 0.8rem;
  border: solid 1px var(--buttonText);
  width: 50%;
  margin: 2rem;
  margin-top: 3.4rem;
  align-self: center;
  justify-self: center;
  cursor: pointer;
}

.button:hover {
  color: var(--lightgray);
}

/* Media queries */
@media screen and (max-width: 800px) {
  .cards {
    flex-direction: column;
  }

  .card {
    align-self: center;
    background-color: none;
    min-width: 85%;
    max-width: 85%;
  }

  .footer {
    flex-direction: column;
  }

  .hero {
    padding: 1rem 0 0rem 0;
    margin: 0rem 0.66rem;
    /* border: 1px solid darkblue; */
  }

  .herotext {
    margin: 0 1rem;
    padding: 0 0 0.8rem 0;
    font-size: 1rem;
    line-height: 1.4rem;
  }
}

@media screen and (max-width: 964px) {
  .button {
    width: 80%;
  }
}
