/* Main page defaults */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

.container {
  overflow: hidden;
  background-color: var(--lightgray);
}

/* CSS Variables */
:root {
  --purple: #6903bf;
  --blue: #0224bf;
  --white: #eee;
  --lightgray: #efefef;
  --dark: #0c1235;
}

/* Nav Section */
.nav {
  background-color: var(--purple);
  padding-top: 0.6rem;
  padding-bottom: 2rem;
}

.nav ul {
  display: block;
}

.nav li {
  text-decoration: none;
  list-style: none;
  padding: 0.2rem 0.4rem;
  text-align: center;
  margin: 0.6rem 1rem;
  background-color: #8704f3;
  color: var(--white);
}

.nav li:hover {
  background-color: var(--white);
  color: #6903bf;
}

.nav a {
  color: var(--white);
  text-decoration: none;
  padding: 0.2rem 0.5rem;
}

.nav a:hover {
  color: var(--purple);
  background-color: var(--white);
}

/* Header Section */
.header {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 3rem;

  height: 26rem;
  background-image: linear-gradient(
    160deg,
    var(--purple),
    var(--purple),
    var(--blue)
  );
  overflow: hidden;

  position: relative;
  width: 115%;
  top: -2rem;
  left: -8%;
  transform: rotate(-4deg);
  margin-bottom: 1rem;
}

.title {
  grid-area: title;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 4rem 0 0 4rem;
  color: var(--white);
  transform: rotate(4deg);
  font-size: 6rem;
}

.tagline {
  grid-area: tagline;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0 0 0 4rem;
  color: #dddddd;
  transform: rotate(4deg);
  font-size: 1.3rem;
}

.logo {
  position: absolute;
  top: 0;
  left: 20px;
  z-index: -1;
  height: 100%;
  width: 100%;
  background-image: url("../../resources/images/logo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0.8;
  transform: rotate(4deg);
}

.icon {
  position: relative;
  width: 100%;
  margin: auto 0 auto 3rem;
}

/* Discipline Section */
.disciplines {
}

.cards {
  list-style: none;
}

.card {
  margin: 0rem 0.7rem 2rem 0.7rem;
  border: 0.001rem solid var(--dark);
}

.discipline {
  background-color: var(--white);
}

/* .discipline:hover {

} */

.discipline .image {
  background-image: url(../../resources/images/head.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 20rem;
  padding: 3rem 2rem;
}

.card:nth-of-type(1) .image {
  background-image: url(../../resources/images/compassion.jpg);
}

.card:nth-of-type(2) .image {
  background-image: url(../../resources/images/love2.jpg);
}

.card:nth-of-type(3) .image {
  background-image: url(../../resources/images/love1.jpg);
}

.discipline h1 {
  background-color: var(--purple);
  color: #fff;
  padding: 2.5rem 1.5rem 0.75rem 1.5rem;
  font-size: 3rem;
}

.discipline h4 {
  background-color: var(--purple);
  color: var(--white);
  padding: 0 1.5rem 3rem 1.5rem;
}

/* Footer Section */
.footer {
  background-image: linear-gradient(160deg, var(--purple), var(--blue));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: relative;
}

.creditsection {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer .logos {
  list-style: none;
  display: flex;
  flex-direction: row;
  background-color: #fff;
  padding: 2rem 1rem 0.3rem 1rem;
  margin-top: 1rem;
}

.footerlogo img {
  height: 4rem;
  width: 0 auto;
  margin-bottom: 2rem;
}

.footer .copyright {
  font-size: 1rem;
  color: var(--white);
  margin: 2rem 4rem;
}

/* Media Queries */
@media (max-width: 350px) {
  .title {
    font-size: 4rem;
  }

  .tagline {
    font-size: 0.8rem;
    width: 300px;
  }

  .header {
    height: 20rem;
  }
}

@media (min-width: 900px) {
}
